In [1]:
# Import libraries and Dependencies to be used in the project
import pandas as pd
import numpy as np
import requests
import json
import os
from dotenv import load_dotenv

In [2]:
#get private environment varibles from .env file
load_dotenv()
client_id = os.environ['TWITCH_CLIENT_ID']
client_secret = os.environ['TWITCH_CLIENT_SECRET']

In [3]:
#Define the Twitch varibles for a request to the twitch API to get the access token

twitch_url = 'https://id.twitch.tv/oauth2/token'
params = {
    'client_id': client_id,
    'client_secret': client_secret,
    'grant_type': 'client_credentials'
}

In [4]:
#make request to twitch API to get access token and store it in a variable
twitch_request = requests.post(twitch_url, data=params)

In [5]:
#Print the response from the request from Twitch API
print(twitch_request.text)

{"access_token":"e7s5t4ogdibtg86s2jnjvm1tq1xy7r","expires_in":5424735,"token_type":"bearer"}

In [6]:
# Print the response from the request from Twitch API in a more readable format using json
print(json.dumps(twitch_request.json(), indent=4))

{
    "access_token": "e7s5t4ogdibtg86s2jnjvm1tq1xy7r",
    "expires_in": 5424735,
    "token_type": "bearer"
}

In [7]:
#Save the access token so it can be used in next IGDB API call
bearer_token = twitch_request.json()['access_token']

In [8]:
# Define the IGDB varibles for a request to the IGDB API to get the access token
IGDB_URL = 'https://api.igdb.com/v4/games'

In [9]:
#Function to make API request to IGDB
def make_api_request(base_url, df_name):   
   offset = 0
   all_results = []
   #loop through all the results, 500 at a time since that is the max limit
   while True:
      
      #make request to IGDB API
      IGDB_request = requests.post(base_url, headers={'Client-ID': client_id, 'Authorization': f'Bearer {bearer_token }'}, data=f'fields *; limit 500; offset {offset};')
      IGDB_data = IGDB_request.json()
      
      all_results.extend(IGDB_data)
      
      #if it pulls less than 500 results, then it has reached the end of the data, so break the loop
      if len(IGDB_data) < 500:
         break
      
      offset += len(IGDB_data)
   #Put the results into a pandas normalized dataframe
   df_name = pd.json_normalize(all_results)
   df_name.head()
   return df_name

In [10]:
#Make API request to IGDB to get the data for the video games
VG_DF = make_api_request(IGDB_URL, 'VG_DF')

KeyboardInterrupt:

In [ ]:
# Print the column information for the dataframe
VG_DF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 273760 entries, 0 to 273759
Data columns (total 58 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       273760 non-null  int64
 1   age_ratings              61352 non-null   object
 2   alternative_names        61299 non-null   object
 3   category                 273760 non-null  int64
 4   cover                    209374 non-null  float64
 5   created_at               273760 non-null  int64
 6   external_games           255072 non-null  object
 7   first_release_date       175910 non-null  float64
 8   game_modes               153146 non-null  object
 9   genres                   223225 non-null  object
 10  involved_companies       119349 non-null  object
 11  keywords                 90719 non-null   object
 12  name                     273760 non-null  object
 13  platforms                187136 non-null  object
 14  player_perspectives      92545 non-null   object
 15  release_dates            185947 non-null  object
 16  screenshots              199179 non-null  object
 17  similar_games            223946 non-null  object
 18  slug                     273760 non-null  object
 19  storyline                23356 non-null   object
 20  summary                  234200 non-null  object
 21  tags                     223964 non-null  object
 22  themes                   149091 non-null  object
 23  updated_at               273760 non-null  int64
 24  url                      273760 non-null  object
 25  videos                   61099 non-null   object
 26  websites                 249755 non-null  object
 27  checksum                 273760 non-null  object
 28  game_localizations       24866 non-null   object
 29  collection               33267 non-null   float64
 30  multiplayer_modes        12321 non-null   object
 31  status                   17462 non-null   float64
 32  language_supports        137326 non-null  object
 33  collections              38045 non-null   object
 34  hypes                    10152 non-null   float64
 35  artworks                 108810 non-null  object
 36  version_parent           6596 non-null    float64
 37  version_title            6527 non-null    object
 38  parent_game              35581 non-null   float64
 39  bundles                  12815 non-null   object
 40  franchises               21654 non-null   object
 41  follows                  24600 non-null   float64
 42  rating                   30163 non-null   float64
 43  rating_count             30163 non-null   float64
 44  total_rating             35445 non-null   float64
 45  total_rating_count       35445 non-null   float64
 46  game_engines             25114 non-null   object
 47  aggregated_rating        15349 non-null   float64
 48  aggregated_rating_count  15349 non-null   float64
 49  ports                    3848 non-null    object
 50  dlcs                     2946 non-null    object
 51  remakes                  914 non-null     object
 52  franchise                1511 non-null    float64
 53  expansions               717 non-null     object
 54  standalone_expansions    274 non-null     object
 55  forks                    57 non-null      object
 56  remasters                949 non-null     object
 57  expanded_games           1296 non-null    object
dtypes: float64(15), int64(4), object(39)
memory usage: 121.1+ MB

In [ ]:
# Print and list the column names for the dataframe
VG_DF.columns

Index(['id', 'age_ratings', 'alternative_names', 'category', 'cover',
       'created_at', 'external_games', 'first_release_date', 'game_modes',
       'genres', 'involved_companies', 'keywords', 'name', 'platforms',
       'player_perspectives', 'release_dates', 'screenshots', 'similar_games',
       'slug', 'storyline', 'summary', 'tags', 'themes', 'updated_at', 'url',
       'videos', 'websites', 'checksum', 'game_localizations', 'collection',
       'multiplayer_modes', 'status', 'language_supports', 'collections',
       'hypes', 'artworks', 'version_parent', 'version_title', 'parent_game',
       'bundles', 'franchises', 'follows', 'rating', 'rating_count',
       'total_rating', 'total_rating_count', 'game_engines',
       'aggregated_rating', 'aggregated_rating_count', 'ports', 'dlcs',
       'remakes', 'franchise', 'expansions', 'standalone_expansions', 'forks',
       'remasters', 'expanded_games'],
      dtype='object')

In [ ]:
#Testing to see if the data was pulled correctly
BG3 = VG_DF.loc[VG_DF['name'] == "Baldur's Gate 3"]
BG3

,id,age_ratings,alternative_names,category,cover,created_at,external_games,first_release_date,game_modes,genres,...,aggregated_rating_count,ports,dlcs,remakes,franchise,expansions,standalone_expansions,forks,remasters,expanded_games
86294,119171,"[148088, 161963, 162025, 162026, 162027, 162028]","[50217, 78595, 78596, 78597, 139162]",0,289025.0,1559228938,"[1725312, 1775824, 1914473, 2070558, 2678929, ...",1.601942e+09,"[1, 2, 3, 4]","[12, 15, 16, 24, 31]",...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Testing to make sure the .datetime works on this data (this took forever)
BG3['first_release_date'] = pd.to_datetime(BG3['first_release_date'], infer_datetime_format=True, unit='s')

C:\Users\Keegan\AppData\Local\Temp\ipykernel_16756\3513838881.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  BG3['first_release_date'] = pd.to_datetime(BG3['first_release_date'], infer_datetime_format=True, unit='s')
C:\Users\Keegan\AppData\Local\Temp\ipykernel_16756\3513838881.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  BG3['first_release_date'] = pd.to_datetime(BG3['first_release_date'], infer_datetime_format=True, unit='s')

In [ ]:
# List the dataframe for Baldurs Gate 3
BG3

,id,age_ratings,alternative_names,category,cover,created_at,external_games,first_release_date,game_modes,genres,...,aggregated_rating_count,ports,dlcs,remakes,franchise,expansions,standalone_expansions,forks,remasters,expanded_games
86294,119171,"[148088, 161963, 162025, 162026, 162027, 162028]","[50217, 78595, 78596, 78597, 139162]",0,289025.0,1559228938,"[1725312, 1775824, 1914473, 2070558, 2678929, ...",2020-10-06,"[1, 2, 3, 4]","[12, 15, 16, 24, 31]",...,17.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#make a copy of the dataframe so that the original data is not altered
copy_df = VG_DF.copy()

In [ ]:
#drop any rows that have a NaN value in the 'first_release_date' column
copy_df = copy_df.dropna(subset=['first_release_date'], how='any')

copy_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 175910 entries, 0 to 273759
Data columns (total 58 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       175910 non-null  int64
 1   age_ratings              54829 non-null   object
 2   alternative_names        51028 non-null   object
 3   category                 175910 non-null  int64
 4   cover                    156219 non-null  float64
 5   created_at               175910 non-null  int64
 6   external_games           159889 non-null  object
 7   first_release_date       175910 non-null  float64
 8   game_modes               127186 non-null  object
 9   genres                   157802 non-null  object
 10  involved_companies       109430 non-null  object
 11  keywords                 76723 non-null   object
 12  name                     175910 non-null  object
 13  platforms                175910 non-null  object
 14  player_perspectives      84570 non-null   object
 15  release_dates            175910 non-null  object
 16  screenshots              139679 non-null  object
 17  similar_games            158212 non-null  object
 18  slug                     175910 non-null  object
 19  storyline                21185 non-null   object
 20  summary                  163751 non-null  object
 21  tags                     158222 non-null  object
 22  themes                   111201 non-null  object
 23  updated_at               175910 non-null  int64
 24  url                      175910 non-null  object
 25  videos                   53470 non-null   object
 26  websites                 158297 non-null  object
 27  checksum                 175910 non-null  object
 28  game_localizations       22426 non-null   object
 29  collection               30057 non-null   float64
 30  multiplayer_modes        10997 non-null   object
 31  status                   12659 non-null   float64
 32  language_supports        92991 non-null   object
 33  collections              34464 non-null   object
 34  hypes                    7941 non-null    float64
 35  artworks                 68037 non-null   object
 36  version_parent           4770 non-null    float64
 37  version_title            4709 non-null    object
 38  parent_game              25346 non-null   float64
 39  bundles                  11836 non-null   object
 40  franchises               19912 non-null   object
 41  follows                  23378 non-null   float64
 42  rating                   29010 non-null   float64
 43  rating_count             29010 non-null   float64
 44  total_rating             33889 non-null   float64
 45  total_rating_count       33889 non-null   float64
 46  game_engines             22136 non-null   object
 47  aggregated_rating        14939 non-null   float64
 48  aggregated_rating_count  14939 non-null   float64
 49  ports                    3765 non-null    object
 50  dlcs                     2797 non-null    object
 51  remakes                  896 non-null     object
 52  franchise                1508 non-null    float64
 53  expansions               709 non-null     object
 54  standalone_expansions    265 non-null     object
 55  forks                    54 non-null      object
 56  remasters                925 non-null     object
 57  expanded_games           1257 non-null    object
dtypes: float64(15), int64(4), object(39)
memory usage: 79.2+ MB

In [ ]:
#convert the 'first_release_date' column to a datetime object
copy_df['first_release_date'] = pd.to_datetime(copy_df['first_release_date'], errors = 'coerce',  unit='s')

In [ ]:
# Print and generate a copy of the dataframe
copy_df.head()

,id,age_ratings,alternative_names,category,cover,created_at,external_games,first_release_date,game_modes,genres,...,aggregated_rating_count,ports,dlcs,remakes,franchise,expansions,standalone_expansions,forks,remasters,expanded_games
0,131913,[101730],"[40085, 40086, 40087]",0,267633.0,1584788069,[1977891],2016-09-21,[1],[34],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,88308,NaN,NaN,0,64849.0,1519237439,"[243459, 1960113]",2016-11-09,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,63308,[14739],NaN,0,78658.0,1505087910,"[12596, 118080, 1185144]",2013-07-03,"[2, 3]",[5],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,231577,"[114607, 114609, 126972, 126973, 126974, 127011]",NaN,0,280467.0,1673878007,"[2639959, 2677882, 2677897, 2677919, 2678595]",2023-02-23,"[1, 2]",[15],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,119025,NaN,NaN,0,NaN,1558701524,"[1723803, 1957721]",2019-06-08,[1],[13],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Define a string variable for the IGDB API request to get the release dates
release_dates_url = 'https://api.igdb.com/v4/release_dates'

In [ ]:
#make API request to IGDB to get the data for the release dates
RD_DF = make_api_request(release_dates_url, 'RD_DF')
RD_DF.head()

,id,category,created_at,date,game,human,m,platform,region,updated_at,y,checksum,status
0,298,2,1301923501,7.258464e+08,110,1993,1.0,6,8,1339423931,1993.0,09293025-b7e0-1565-8848-532914a16081,NaN
1,165447,0,1550867412,1.561421e+09,115477,"Jun 25, 2019",6.0,6,8,1550867489,2019.0,79b1fc63-2f73-5351-c0f2-6b4fe6cb33fb,NaN
2,143501,0,1517637179,1.210118e+09,37605,"May 07, 2008",5.0,5,5,1517864621,2008.0,5114450a-b7e1-c105-a3b9-08ad7b2e4321,NaN
3,240506,0,1619125310,1.622160e+09,56914,"May 28, 2021",5.0,48,2,1619163937,2021.0,d4c4a16e-f78d-ae3d-9922-04b3b5a7cdad,NaN
4,310513,0,1631498490,6.318432e+08,48393,"Jan 09, 1990",1.0,99,5,1631499375,1990.0,530d65c3-cbbe-9a9a-eea0-a999c0e5c61f,NaN

In [ ]:
#convert the 'date' column to a datetime object
RD_DF['date'] = pd.to_datetime(RD_DF['date'], errors = 'coerce', unit='s')
RD_DF.head()

,id,category,created_at,date,game,human,m,platform,region,updated_at,y,checksum,status
0,298,2,1301923501,1993-01-01,110,1993,1.0,6,8,1339423931,1993.0,09293025-b7e0-1565-8848-532914a16081,NaN
1,165447,0,1550867412,2019-06-25,115477,"Jun 25, 2019",6.0,6,8,1550867489,2019.0,79b1fc63-2f73-5351-c0f2-6b4fe6cb33fb,NaN
2,143501,0,1517637179,2008-05-07,37605,"May 07, 2008",5.0,5,5,1517864621,2008.0,5114450a-b7e1-c105-a3b9-08ad7b2e4321,NaN
3,240506,0,1619125310,2021-05-28,56914,"May 28, 2021",5.0,48,2,1619163937,2021.0,d4c4a16e-f78d-ae3d-9922-04b3b5a7cdad,NaN
4,310513,0,1631498490,1990-01-09,48393,"Jan 09, 1990",1.0,99,5,1631499375,1990.0,530d65c3-cbbe-9a9a-eea0-a999c0e5c61f,NaN

In [ ]:
#remove unnecessary columns
dates_ids = RD_DF[['id', 'date']]
dates_ids.head()

       id       date
0     298 1993-01-01
1  165447 2019-06-25
2  143501 2008-05-07
3  240506 2021-05-28
4  310513 1990-01-09

In [ ]:
#rename columns
dates_ids = dates_ids.rename(columns={'id': 'release_date_id', 'date':'release_date_data' })
dates_ids.head()

   release_date_id release_date_data
0              298        1993-01-01
1           165447        2019-06-25
2           143501        2008-05-07
3           240506        2021-05-28
4           310513        1990-01-09

In [ ]:
#merge the two dataframes, 'copy_df' and 'dates_ids', on the 'release_dates' column, which is a list of release date ids
merged_df = copy_df.explode('release_dates').merge(dates_ids, left_on='release_dates', right_on='release_date_id', how='left')
merged_df[['name', 'first_release_date', 'release_date_data', 'release_dates', 'release_date_id']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346465 entries, 0 to 346464
Data columns (total 5 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   name                346465 non-null  object
 1   first_release_date  346464 non-null  datetime64[ns]
 2   release_date_data   342352 non-null  datetime64[ns]
 3   release_dates       346465 non-null  object
 4   release_date_id     346465 non-null  int64
dtypes: datetime64[ns](2), int64(1), object(2)
memory usage: 13.2+ MB

In [ ]:
#drop the 'release_dates' column
merged_df['release_dates'] = merged_df['release_date_data']
merged_df = merged_df.drop(columns=['release_date_data', 'release_date_id'])

In [ ]:
merged_df[['name', 'release_dates']].head()

                               name release_dates
0            Maji Kyun! Renaissance    2016-09-21
1   Hey Duggee: The Big Outdoor App    2016-11-09
2                   Soldier Front 2    2013-07-03
3  Blood Bowl 3: Black Orcs Edition    2023-02-23
4  Blood Bowl 3: Black Orcs Edition    2023-02-23

In [ ]:
#Testing to see if the data was merged correctly, it was NOT, these should be one row, i coulnd't figure out how to fix it, so i just dropped the duplicates
##COME BACK TO THIS
BG3_2 = merged_df.loc[merged_df['name'] == "Baldur's Gate 3"]
BG3_2[['release_dates', 'first_release_date', 'name']].head()

      release_dates first_release_date             name
77660    2023-09-06         2020-10-06  Baldur's Gate 3
77661    2023-08-03         2020-10-06  Baldur's Gate 3
77662    2023-12-08         2020-10-06  Baldur's Gate 3
77663    2020-10-06         2020-10-06  Baldur's Gate 3
77664    2020-10-06         2020-10-06  Baldur's Gate 3

In [ ]:
#output the data to a parquet file, (instead of csv) since it is a large file and github does not allow files over 100MB
merged_df.to_csv('uncleaned_video_games.csv', index=False)

In [ ]:
#read the data back in to make sure it was saved correctly
Video_games_df = pd.read_csv('uncleaned_video_games.csv')
Video_games_df.columns

Index(['id', 'age_ratings', 'alternative_names', 'category', 'cover',
       'created_at', 'external_games', 'first_release_date', 'game_modes',
       'genres', 'involved_companies', 'keywords', 'name', 'platforms',
       'player_perspectives', 'release_dates', 'screenshots', 'similar_games',
       'slug', 'storyline', 'summary', 'tags', 'themes', 'updated_at', 'url',
       'videos', 'websites', 'checksum', 'game_localizations', 'collection',
       'multiplayer_modes', 'status', 'language_supports', 'collections',
       'hypes', 'artworks', 'version_parent', 'version_title', 'parent_game',
       'bundles', 'franchises', 'follows', 'rating', 'rating_count',
       'total_rating', 'total_rating_count', 'game_engines',
       'aggregated_rating', 'aggregated_rating_count', 'ports', 'dlcs',
       'remakes', 'franchise', 'expansions', 'standalone_expansions', 'forks',
       'remasters', 'expanded_games'],
      dtype='object')

In [ ]:
#drop unnecessary columns from the dataframe that are not needed for the analysis
cols_to_delete = ['age_ratings', 'alternative_names','cover','created_at', 'external_games','game_modes','involved_companies', 'keywords','platforms',
       'player_perspectives','screenshots', 'similar_games',
       'slug', 'storyline', 'summary', 'tags', 'themes', 'updated_at', 'url',
       'videos', 'websites', 'checksum', 'game_localizations', 'collection',
       'multiplayer_modes', 'status', 'language_supports', 'collections',
       'hypes', 'artworks', 'version_parent', 'version_title', 'parent_game',
       'bundles', 'franchises', 'follows','game_engines','ports', 'dlcs',
       'remakes', 'franchise', 'expansions', 'standalone_expansions', 'forks',
       'remasters', 'expanded_games', 'genres']
cleaned_df = Video_games_df.drop(columns=cols_to_delete)
cleaned_df.head()

,id,category,first_release_date,name,release_dates,rating,rating_count,total_rating,total_rating_count,aggregated_rating,aggregated_rating_count
0,131913,0,2016-09-21,Maji Kyun! Renaissance,2016-09-21,NaN,NaN,NaN,NaN,NaN,NaN
1,88308,0,2016-11-09,Hey Duggee: The Big Outdoor App,2016-11-09,NaN,NaN,NaN,NaN,NaN,NaN
2,63308,0,2013-07-03,Soldier Front 2,2013-07-03,NaN,NaN,NaN,NaN,NaN,NaN
3,231577,0,2023-02-23,Blood Bowl 3: Black Orcs Edition,2023-02-23,NaN,NaN,NaN,NaN,NaN,NaN
4,231577,0,2023-02-23,Blood Bowl 3: Black Orcs Edition,2023-02-23,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Print the column information for the dataframe
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 346465 entries, 0 to 346464
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   id                       346465 non-null  int64
 1   category                 346465 non-null  int64
 2   first_release_date       346464 non-null  datetime64[ns]
 3   name                     346465 non-null  object
 4   release_dates            342352 non-null  datetime64[ns]
 5   rating                   99063 non-null   float64
 6   rating_count             99063 non-null   float64
 7   total_rating             114652 non-null  float64
 8   total_rating_count       114652 non-null  float64
 9   aggregated_rating        65227 non-null   float64
 10  aggregated_rating_count  65227 non-null   float64
dtypes: datetime64[ns](2), float64(6), int64(2), object(1)
memory usage: 29.1+ MB

In [ ]:
#the drop duplicates thing from earlier
cleaned_df.drop_duplicates(subset=['id'], inplace=True)

In [ ]:
# Print the column information for the dataframe
cleaned_df.head(50)

,id,category,first_release_date,name,release_dates,rating,rating_count,total_rating,total_rating_count,aggregated_rating,aggregated_rating_count
0,131913,0,2016-09-21,Maji Kyun! Renaissance,2016-09-21,NaN,NaN,NaN,NaN,NaN,NaN
1,88308,0,2016-11-09,Hey Duggee: The Big Outdoor App,2016-11-09,NaN,NaN,NaN,NaN,NaN,NaN
2,63308,0,2013-07-03,Soldier Front 2,2013-07-03,NaN,NaN,NaN,NaN,NaN,NaN
3,231577,0,2023-02-23,Blood Bowl 3: Black Orcs Edition,2023-02-23,NaN,NaN,NaN,NaN,NaN,NaN
5,119025,0,2019-06-08,Pet Puzzle,2019-06-08,NaN,NaN,NaN,NaN,NaN,NaN
6,213046,3,2022-08-08,The Ultimate FMV Bundle 2,2022-08-08,NaN,NaN,NaN,NaN,NaN,NaN
7,41342,0,1988-03-04,19: Neunzehn,1988-03-04,NaN,NaN,NaN,NaN,NaN,NaN
8,108308,0,2018-08-18,Road Doom,2018-08-18,NaN,NaN,NaN,NaN,NaN,NaN
9,203546,0,2022-06-07,Meat & Greed,2022-06-07,NaN,NaN,NaN,NaN,NaN,NaN
10,99620,0,2018-04-30,Shadow Wolf Mysteries: Cursed Wedding - Collec...,2018-04-30,NaN,NaN,NaN,NaN,NaN,NaN
11,230654,0,2008-08-01,Hockey de Mesa,2008-08-01,NaN,NaN,NaN,NaN,NaN,NaN
12,136180,0,2011-12-31,Dueling Network,2011-12-31,NaN,NaN,NaN,NaN,NaN,NaN
13,200398,0,1997-12-31,Fishing Champion,1997-12-31,NaN,NaN,NaN,NaN,NaN,NaN
14,146778,0,2021-01-18,Little Squire's Quests,2021-01-19,NaN,NaN,NaN,NaN,NaN,NaN
16,85137,0,2009-09-25,Family Trainer: Extreme Challenge,2009-09-25,NaN,NaN,NaN,NaN,NaN,NaN
17,19444,0,2016-04-21,One Thousand Lies,2016-04-21,70.0,3.0,70.000000,3.0,NaN,NaN
20,196161,0,2022-04-17,LiMiT's Escape Room Games,2022-04-17,NaN,NaN,NaN,NaN,NaN,NaN
21,82461,0,2016-11-25,10tons Adventure Puzzles Bundle,2016-11-25,60.0,0.0,60.000000,0.0,NaN,NaN
22,130753,0,1983-12-31,Crazy Kong,1983-12-31,NaN,NaN,NaN,NaN,NaN,NaN
23,12930,0,1989-12-31,Voyager,1989-12-31,NaN,NaN,NaN,NaN,NaN,NaN
25,130751,0,2012-04-30,Tower of Fortune,2012-04-30,NaN,NaN,NaN,NaN,NaN,NaN
26,239411,0,2023-02-23,Blood Bowl 3: Imperial Nobility Edition,2023-02-23,NaN,NaN,NaN,NaN,NaN,NaN
28,53308,0,2017-07-31,Mage Guard,2017-07-31,NaN,NaN,NaN,NaN,NaN,NaN
29,35429,0,2015-04-20,The Lost Valley,2015-04-20,40.0,0.0,40.000000,0.0,NaN,NaN
30,118128,0,2019-12-06,Little Dungeon Stories,2019-12-06,50.0,0.0,50.000000,0.0,NaN,NaN
31,38557,0,1981-02-01,Video Hustler,1981-02-01,NaN,NaN,NaN,NaN,NaN,NaN
32,147142,3,2021-01-18,Dungeon Nightmares 1+2 Collection,2021-01-18,NaN,NaN,NaN,NaN,NaN,NaN
33,209901,0,2008-11-19,Hidden Secrets: The Nightmare,2008-11-19,NaN,NaN,NaN,NaN,NaN,NaN
34,57142,0,2018-02-08,Gal Metal,2018-02-08,73.0,2.0,68.166667,7.0,63.333333,5.0
37,171309,0,2021-09-17,Neon Arena,2021-09-17,NaN,NaN,NaN,NaN,NaN,NaN
38,77780,0,1999-05-27,Asuka 120% Final Burning Fest.,1999-05-27,NaN,NaN,NaN,NaN,NaN,NaN
39,197231,0,2017-02-22,Rhom Bus,2017-02-22,NaN,NaN,NaN,NaN,NaN,NaN
40,64556,0,2012-10-11,Nurikabe by Nikoli,2012-10-11,NaN,NaN,NaN,NaN,NaN,NaN
41,14308,0,1987-12-31,Bismarck: The North Sea Chase,1988-12-31,NaN,NaN,NaN,NaN,NaN,NaN
47,193780,11,2011-11-15,Need for Speed: The Run,2011-11-18,NaN,NaN,NaN,NaN,NaN,NaN
51,209902,1,2003-05-29,Hidden Stroke: APRM,2003-05-29,NaN,NaN,NaN,NaN,NaN,NaN
52,195243,0,2022-04-08,Yummy Girl 2,2022-04-08,NaN,NaN,NaN,NaN,NaN,NaN
53,126369,0,2019-11-15,Nanoworld,2019-11-15,NaN,NaN,NaN,NaN,NaN,NaN
54,283003,0,2012-12-31,A.E.,2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN
55,55543,0,2018-09-27,Depth of Extinction,2020-06-03,60.0,0.0,60.000000,0.0,NaN,NaN
61,44308,0,1992-09-29,Shape Shifter,1992-12-31,NaN,NaN,NaN,NaN,NaN,NaN
63,71213,8,2007-06-08,Carriers at War,2007-06-08,NaN,NaN,NaN,NaN,NaN,NaN
64,245072,0,1991-09-01,Chill Out,1991-09-01,NaN,NaN,NaN,NaN,NaN,NaN
65,24365,0,2010-10-28,Jewel Master: Cradle of Athena,2010-10-28,NaN,NaN,50.000000,1.0,50.000000,1.0
66,55648,0,2017-10-13,Landon,2017-10-13,NaN,NaN,NaN,NaN,NaN,NaN
68,206978,0,1999-12-31,Clue Jr. SpyGlass Mysteries,1999-12-31,NaN,NaN,NaN,NaN,NaN,NaN
69,269457,5,2022-08-27,Malevolence,2022-08-27,NaN,NaN,NaN,NaN,NaN,NaN
70,270442,0,2023-10-02,The Final Prize is Soup,2023-10-02,NaN,NaN,NaN,NaN,NaN,NaN
73,287510,0,2002-12-31,Five Days,2002-12-31,NaN,NaN,NaN,NaN,NaN,NaN
74,87465,0,2015-12-19,Magic Princess - Girls Makeup & Dressup Salon ...,2015-12-19,70.0,0.0,70.000000,0.0,NaN,NaN

In [ ]:
#testing to see if the data was cleaned correctly
BG3_3 = cleaned_df.loc[cleaned_df['name'] == "Baldur's Gate 3"]
BG3_3

,id,category,first_release_date,name,release_dates,rating,rating_count,total_rating,total_rating_count,aggregated_rating,aggregated_rating_count
77660,119171,0,2020-10-06,Baldur's Gate 3,2023-09-06,95.203873,379.0,94.851937,396.0,94.5,17.0

In [ ]:
#output the cleaned data to a csv file
cleaned_df.to_csv('cleaned_video_games.csv', index=False)