In [5]:
import pandas as pd
from pathlib import Path

In [6]:
video_game_ratings_unclean_path = Path('..//Uncleaned Data//partially_cleaned_video_games.csv')
video_game_sales_path = Path('..//Uncleaned Data//Video game sales kaggle//video_games_sales.csv')
ratings_df = pd.read_csv(video_game_ratings_unclean_path)
sales_df = pd.read_csv(video_game_sales_path)

In [7]:
ratings_df.head()

,id,category,first_release_date,name,release_dates,rating,rating_count,total_rating,total_rating_count,aggregated_rating,aggregated_rating_count
0,131913,0,2016-09-21,Maji Kyun! Renaissance,2016-09-21,NaN,NaN,NaN,NaN,NaN,NaN
1,88308,0,2016-11-09,Hey Duggee: The Big Outdoor App,2016-11-09,NaN,NaN,NaN,NaN,NaN,NaN
2,63308,0,2013-07-03,Soldier Front 2,2013-07-03,NaN,NaN,NaN,NaN,NaN,NaN
3,231577,0,2023-02-23,Blood Bowl 3: Black Orcs Edition,2023-02-23,NaN,NaN,NaN,NaN,NaN,NaN
4,119025,0,2019-06-08,Pet Puzzle,2019-06-08,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
sales_df.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [11]:
#drop null values from rating column
ratings_df = ratings_df.dropna(subset=['rating'])

ratings_df.head(10)

,id,category,first_release_date,name,release_dates,rating,rating_count,total_rating,total_rating_count,aggregated_rating,aggregated_rating_count
15,19444,0,2016-04-21,One Thousand Lies,2016-04-21,70.000000,3.0,70.000000,3.0,NaN,NaN
17,82461,0,2016-11-25,10tons Adventure Puzzles Bundle,2016-11-25,60.000000,0.0,60.000000,0.0,NaN,NaN
23,35429,0,2015-04-20,The Lost Valley,2015-04-20,40.000000,0.0,40.000000,0.0,NaN,NaN
24,118128,0,2019-12-06,Little Dungeon Stories,2019-12-06,50.000000,0.0,50.000000,0.0,NaN,NaN
28,57142,0,2018-02-08,Gal Metal,2018-02-08,73.000000,2.0,68.166667,7.0,63.333333,5.0
39,55543,0,2018-09-27,Depth of Extinction,2020-06-03,60.000000,0.0,60.000000,0.0,NaN,NaN
49,87465,0,2015-12-19,Magic Princess - Girls Makeup & Dressup Salon ...,2015-12-19,70.000000,0.0,70.000000,0.0,NaN,NaN
58,7409,0,2001-10-08,Patrician II: Quest for Power,2001-10-08,79.879923,7.0,79.879923,7.0,NaN,NaN
62,28045,0,2017-07-11,Brigand: Oaxaca,2017-07-11,70.000000,2.0,70.000000,2.0,NaN,NaN
71,21122,0,2007-07-19,Naruto Shippuden: Ninja Council 4,2009-06-02,59.849855,5.0,49.924927,7.0,40.000000,2.0

In [14]:
#merge the two dataframes together based on name
merged_df = pd.merge(ratings_df, sales_df, left_on='name', right_on='name', how='inner')
merged_df.head(20)

,id,category,first_release_date,name,release_dates,rating,rating_count,total_rating,total_rating_count,aggregated_rating,...,rank,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,21122,0,2007-07-19,Naruto Shippuden: Ninja Council 4,2009-06-02,59.849855,5.0,49.924927,7.0,40.000000,...,7072,DS,2007.0,Action,Nintendo,0.09,0.00,0.13,0.01,0.23
1,3933,0,2003-11-18,Go! Go! Hypergrind,2003-11-18,36.000000,0.0,36.000000,0.0,NaN,...,14451,GC,2003.0,Sports,Atlus,0.02,0.01,0.00,0.00,0.03
2,25172,0,2010-06-11,Fullmetal Alchemist: Brotherhood,2010-06-11,70.122600,5.0,70.122600,5.0,NaN,...,14380,PSP,NaN,Action,Unknown,0.00,0.00,0.03,0.00,0.03
3,20491,0,2005-09-15,Tamagotchi Connection: Corner Shop,2006-01-31,64.000000,0.0,57.000000,2.0,50.000000,...,1572,DS,2005.0,Simulation,Atari,0.10,0.02,1.12,0.01,1.26
4,85454,11,1989-04-21,Baseball,1990-12-31,53.000000,1.0,53.000000,1.0,NaN,...,422,NES,1983.0,Sports,Nintendo,0.73,0.10,2.35,0.02,3.20
5,85454,11,1989-04-21,Baseball,1990-12-31,53.000000,1.0,53.000000,1.0,NaN,...,1144,GB,1989.0,Sports,Nintendo,0.66,0.27,0.65,0.03,1.61
6,7580,0,1983-12-07,Baseball,1986-12-31,50.079930,15.0,50.079930,15.0,NaN,...,422,NES,1983.0,Sports,Nintendo,0.73,0.10,2.35,0.02,3.20
7,7580,0,1983-12-07,Baseball,1986-12-31,50.079930,15.0,50.079930,15.0,NaN,...,1144,GB,1989.0,Sports,Nintendo,0.66,0.27,0.65,0.03,1.61
8,7582,0,1972-09-01,Baseball,1972-09-01,38.571429,5.0,38.571429,5.0,NaN,...,422,NES,1983.0,Sports,Nintendo,0.73,0.10,2.35,0.02,3.20
9,7582,0,1972-09-01,Baseball,1972-09-01,38.571429,5.0,38.571429,5.0,NaN,...,1144,GB,1989.0,Sports,Nintendo,0.66,0.27,0.65,0.03,1.61
10,774,2,2008-11-17,The Lord of the Rings Online: Mines of Moria,2008-11-17,79.882387,12.0,83.274527,16.0,86.666667,...,15310,PC,2008.0,Role-Playing,Codemasters Online,0.00,0.02,0.00,0.00,0.02
11,8920,0,2015-09-02,Act of Aggression,2015-09-02,50.000000,4.0,59.083333,10.0,68.166667,...,16364,PC,2015.0,Strategy,Focus Home Interactive,0.00,0.01,0.00,0.00,0.01
12,6977,0,2007-03-01,Dynasty Warriors: Gundam,2007-11-09,60.299923,8.0,65.149961,13.0,70.000000,...,6224,PS2,2008.0,Action,Namco Bandai Games,0.00,0.00,0.28,0.00,0.28
13,50583,0,2002-03-14,Mystic Heroes,2002-11-28,57.000000,4.0,57.000000,4.0,NaN,...,11081,GC,2002.0,Action,Tecmo Koei,0.03,0.01,0.04,0.00,0.09
14,50583,0,2002-03-14,Mystic Heroes,2002-11-28,57.000000,4.0,57.000000,4.0,NaN,...,12368,PS2,2002.0,Action,Tecmo Koei,0.03,0.02,0.00,0.01,0.06
15,6982,0,2010-12-16,Dynasty Warriors: Gundam 3,2011-07-12,60.174650,5.0,67.087325,9.0,74.000000,...,3679,PS3,2010.0,Action,Tecmo Koei,0.11,0.05,0.36,0.02,0.55
16,6982,0,2010-12-16,Dynasty Warriors: Gundam 3,2011-07-12,60.174650,5.0,67.087325,9.0,74.000000,...,8135,X360,2010.0,Action,Tecmo Koei,0.11,0.04,0.02,0.01,0.18
17,94147,0,2019-01-17,Breach,2019-01-17,50.000000,1.0,50.000000,1.0,NaN,...,16588,PC,2011.0,Shooter,Destineer,0.01,0.00,0.00,0.00,0.01
18,3368,0,1998-09-30,Buck Bumble,1998-09-30,52.762372,7.0,52.762372,7.0,NaN,...,8592,N64,1998.0,Action,Ubisoft,0.13,0.03,0.00,0.00,0.16
19,1827,0,2013-06-03,Remember Me,2013-06-04,72.247769,221.0,71.332218,235.0,70.416667,...,5275,PS3,2013.0,Action,Capcom,0.10,0.18,0.00,0.07,0.35

In [13]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8536 entries, 0 to 8535
Data columns (total 21 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       8536 non-null   int64
 1   category                 8536 non-null   int64
 2   first_release_date       8536 non-null   object
 3   name                     8536 non-null   object
 4   release_dates            8488 non-null   object
 5   rating                   8536 non-null   float64
 6   rating_count             8536 non-null   float64
 7   total_rating             8536 non-null   float64
 8   total_rating_count       8536 non-null   float64
 9   aggregated_rating        6448 non-null   float64
 10  aggregated_rating_count  6448 non-null   float64
 11  rank                     8536 non-null   int64
 12  platform                 8536 non-null   object
 13  year                     8383 non-null   float64
 14  genre                    8536 non-null   object
 15  publisher                8525 non-null   object
 16  na_sales                 8536 non-null   float64
 17  eu_sales                 8536 non-null   float64
 18  jp_sales                 8536 non-null   float64
 19  other_sales              8536 non-null   float64
 20  global_sales             8536 non-null   float64
dtypes: float64(12), int64(3), object(6)
memory usage: 1.4+ MB

In [15]:
merged_df.to_csv('../Cleaned Data/ratings_and_sales.csv')