# 1 - Data Cleaning and Preprocessing:

In [13]:
# import libraries that are needed
import pandas as pd
from pathlib import Path

In [14]:
#  Read in Kaggle data from csv file
#vg_path = Path('..//Uncleaned Data//Video game sales kaggle//video_games_sales.csv')
vg_path = Path('../Cleaned Data/video_games_sales.csv')
video_game_sales_df = pd.read_csv(vg_path)

In [15]:
# Print the first 5 rows of the dataframe from Kaggle data to see what it looks like
video_game_sales_df.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [16]:
video_game_sales_df.columns

Index(['rank', 'name', 'platform', 'year', 'genre', 'publisher', 'na_sales',
       'eu_sales', 'jp_sales', 'other_sales', 'global_sales'],
      dtype='object')

In [17]:
# Print Video Game Sales data info
video_game_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   platform      16598 non-null  object
 3   year          16327 non-null  float64
 4   genre         16598 non-null  object
 5   publisher     16540 non-null  object
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [18]:
# Display the columns in the dataframe
video_game_sales_df['year'] = pd.to_datetime(video_game_sales_df['year'])
video_game_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   platform      16598 non-null  object
 3   year          16327 non-null  datetime64[ns]
 4   genre         16598 non-null  object
 5   publisher     16540 non-null  object
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 1.4+ MB

In [19]:
# Handle missing or null values

In [20]:
# Convert data types as necessary

In [21]:
# Standardize categorical variables to ensure consistency in the data

# 2 - Grouping and Visualization of the data

In [22]:
# Group data by ratings and calculate total sales for each rating

In [23]:
#visualize the data by ratings vs sales

In [24]:
# Group data by genre and calculate average ratings for each genre

In [25]:
#visualize the data by genre vs ratings

In [26]:
# Group data by release date and compute statistics (e.g., total sales, average ratings) for each time period

In [27]:
#visualize the data by release date vs sales and ratings

In [38]:
# Select only the numeric columns for summing up sales
numeric_columns = ['na_sales', 'eu_sales', 'jp_sales', 'global_sales']

# Group data by country and calculate total sales for each country
sales_by_country = video_game_sales_df[numeric_columns].groupby(['na_sales', 'eu_sales', 'jp_sales']).sum()
sales_by_country

                            global_sales
na_sales eu_sales jp_sales
0.00     0.00     0.00              0.19
                  0.01              3.13
                  0.02              9.51
                  0.03              9.99
                  0.04              9.28
...                                  ...
15.85    12.88    3.79             35.82
23.20    2.26     4.22             30.26
26.93    0.63     0.28             28.31
29.08    3.58     6.81             40.24
41.49    29.02    3.77             82.74

[4968 rows x 1 columns]