# 1 - Data Cleaning and Preprocessing:

In [2]:
# import libraries that are needed
import pandas as pd
from pathlib import Path

In [3]:
#  Read in Kaggle data from csv file
#vg_path = Path('..//Uncleaned Data//Video game sales kaggle//video_games_sales.csv')
vg_path = Path('../Cleaned Data/video_games_sales.csv')

video_game_sales_df = pd.read_csv(vg_path)

In [4]:
# Print the first 5 rows of the dataframe from Kaggle data to see what it looks like
video_game_sales_df.head()

,rank,name,platform,year,genre,publisher,na_sales,eu_sales,jp_sales,other_sales,global_sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [5]:
# Print Video Game Sales data info
video_game_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   platform      16598 non-null  object
 3   year          16327 non-null  float64
 4   genre         16598 non-null  object
 5   publisher     16540 non-null  object
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [6]:
# Display the columns in the dataframe
video_game_sales_df['year'] = pd.to_datetime(video_game_sales_df['year'])
video_game_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank          16598 non-null  int64
 1   name          16598 non-null  object
 2   platform      16598 non-null  object
 3   year          16327 non-null  datetime64[ns]
 4   genre         16598 non-null  object
 5   publisher     16540 non-null  object
 6   na_sales      16598 non-null  float64
 7   eu_sales      16598 non-null  float64
 8   jp_sales      16598 non-null  float64
 9   other_sales   16598 non-null  float64
 10  global_sales  16598 non-null  float64
dtypes: datetime64[ns](1), float64(5), int64(1), object(4)
memory usage: 1.4+ MB

In [7]:
# Handle missing or null values

In [8]:
# Convert data types as necessary

In [9]:
# Standardize categorical variables to ensure consistency in the data

# 2 - Grouping and Visualization of the data

In [10]:
# Group data by ratings and calculate total sales for each rating

In [11]:
#visualize the data by ratings vs sales

In [21]:
# (#15) Group data by Sales by Genre
def genre_sum(x):
    return x.sum()


genre_sales_df = video_game_sales_df.groupby(["genre"]).\
            apply(lambda x: pd.Series({"Global Sales by Genre": genre_sum(x["global_sales"])}))
genre_sales_df

              Global Sales by Genre
genre
Action                      1751.18
Adventure                    239.04
Fighting                     448.91
Misc                         809.96
Platform                     831.37
Puzzle                       244.95
Racing                       732.04
Role-Playing                 927.37
Shooter                     1037.37
Simulation                   392.20
Sports                      1330.93
Strategy                     175.12

In [13]:
# (#15+) Group data by Sales by Genre - showing top 5
genre_sales_df_sorted = genre_sales_df.sort_values(by=["Global Sales by Genre",],ascending=False)
genre_sales_df_sorted.head()

              Global Sales by Genre
genre
Action                      1751.18
Sports                      1330.93
Shooter                     1037.37
Role-Playing                 927.37
Platform                     831.37

In [16]:
# Group data by release date and compute statistics (e.g., total sales, average ratings) for each time period

In [14]:
# Group data by genre and calculate average ratings for each genre

In [23]:
# Group data by region (North America, EU, Japan) and calculate total sales for each region
region_sales_df = video_game_sales_df.groupby(level=0)[['na_sales', 'eu_sales', 'jp_sales']].sum()
region_sales_df

       na_sales  eu_sales  jp_sales
0         41.49     29.02      3.77
1         29.08      3.58      6.81
2         15.85     12.88      3.79
3         15.75     11.01      3.28
4         11.27      8.89     10.22
...         ...       ...       ...
16593      0.01      0.00      0.00
16594      0.01      0.00      0.00
16595      0.00      0.00      0.00
16596      0.00      0.01      0.00
16597      0.01      0.00      0.00

[16598 rows x 3 columns]

In [28]:
# Group sales data by platform and calculate total sales for each platform
platform_sales_df = video_game_sales_df.groupby("platform")["global_sales"].sum().reset_index(name="Global Sales by Platform")
# Sort the DataFrame by 'Global Sales by Platform' column in descending order
platform_sales_df = platform_sales_df.sort_values(by="Global Sales by Platform", ascending=False)
platform_sales_df

   platform  Global Sales by Platform
16      PS2                   1255.64
28     X360                    979.96
17      PS3                    957.84
26      Wii                    926.71
4        DS                    822.49
15       PS                    730.66
6       GBA                    318.50
19      PSP                    296.28
18      PS4                    278.10
13       PC                    258.82
29       XB                    258.26
5        GB                    255.45
11      NES                    251.07
2       3DS                    247.46
10      N64                    218.88
23     SNES                    200.05
7        GC                    199.36
30     XOne                    141.06
0      2600                     97.08
27     WiiU                     81.86
20      PSV                     61.93
21      SAT                     33.59
8       GEN                     28.36
3        DC                     15.97
22      SCD                      1.87
12       NG                      1.44
25       WS                      1.42
24     TG16                      0.16
1       3DO                      0.10
9        GG                      0.04
14     PCFX                      0.03

In [15]:
#visualize the data by genre vs ratings

In [17]:
#visualize the data by release date vs sales and ratings